@model Kategori

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Template/Backend.cshtml";
}

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Create Kategori</h1>
        </div>

        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <h4>Create Kategori</h4>
                            <a class="btn btn-sm btn-primary" title="Tambah" asp-controller="Kategori"
                                asp-action="Index">
                                <i class="bi bi-box-arrow-left"></i> Kembali
                            </a>
                        </div>
                        <div class="card-body">
                            <form asp-action="Create" method="post" enctype="multipart/form-data">
                                <div class="section-title">Nama Kategori</div>
                                <div class="custom-file">
                                    <input asp-for="Nama" class="form-control" />
                                    <span asp-validation-for="Nama" class="text-danger"></span>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" value="Create" class="btn btn-sm btn-success">Simpan</button>
                                    <button type="reset" class="btn btn-sm btn-warning">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

